/**
* Custom CSS declarations
*
* If your server is registered, you can create a file named `custom.css`
* in the `config` directory and populate it with CSS rules to override the
* normal client styles, when the client is connected to your server. In
* other words, you can use this facility to introduce a custom theme for
* your server.
*/

#header{background:url("http://upload.wikimedia.org/wikipedia/commons/d/da/Shades_of_blue.jpg")}

body{background-image:url("http://i.imgur.com/hcpz7c2.jpg");background-repeat:no-repeat;background-position:right top}

.chat-log{font-size:10pt;background:#f2f9ff;color:#000;overflow:auto}

.menugroup .button{background:#3A5FCD}.menugroup 

.menugroup {
background:#f2f9ff);
text-align: center;
}

.button:hover{background:#4876FF}

.userlist {
border-left: 1px solid #D5DDE4;
background: #e5f5ff;
}

