/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */

#header{background:url("http://www.fastcoexist.com/multisite_files/coexist/imagecache/1920/poster/2013/02/1681430-poster-1280-blue-energy.jpg")}
.mainmenuwrapper{background:url("http://i.imgur.com/nrwQzdM.png") no-repeat scroll right top;background-color:#A2B5CD}
.menugroup .button{background:#3A5FCD}
.menugroup .button:hover{background:#4876FF}

    
